.btn-login {
    color: #fff;
    background-color: #FF9E02;
}
.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open>.dropdown-toggle.btn-login {
    color: #fff;
    background-color: #ffac27;
}