<div class="text-center">
    <img src="..\..\..\assets\img\favicon_white.png" alt="logo" width= "150px" height= "150px;"/>
    <h1 class="text-center">Welcome to Mutrivia</h1>
</div>

<div class="text-center container mt-5">
    <h4 style="color:rgb(131, 130, 130)">Pick a nickname to start playing.</h4>
    <form (ngSubmit)="registerUser()">
        <div class="mt-4">
            <input type="text" class="form-control-lg" placeholder="Enter a Nickname" name="username" [(ngModel)]="username" required>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary" *ngIf="!loader">Start</button>
            <button class="btn btn-primary" type="button" disabled *ngIf="loader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </form>
</div>