.btn-login {
    color: #fff;
    background-color: #FF9E02;
}
.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open>.dropdown-toggle.btn-login {
    color: #fff;
    background-color: #ffac27;
}

.cards {
    margin-top: 2rem!important;
    background-color: aliceblue;
    max-width: max-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    padding: 2.5%;
    box-sizing: border-box; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .cards:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
  }