
  .copy-text {
    position:relative;
    padding:10px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    display:flex;
  }
  .copy-text input.text {
    padding:10px;
    font-size:18px;
    color:#555;
    border:none;
    outline:none;
    padding-right:50px;
  }
  .copy-text button {
    padding:10px;
    background:rgb(81, 45, 168);
    color:#fff;
    font-size:18px;
    border:none;
    outline:none;
    border-radius:10px;
    cursor:pointer;
  }
  .copy-text button:active {
    background:#809ce2;
  }
  .copy-text button:before {
    content:"Copied";
    position:absolute;
    top:-45px;
    right:0px;
    background:rgb(81, 45, 168);
    padding:8px 10px;
    border-radius:20px;
    font-size:15px;
    display:none;
  }

  .copy-text.active button:before,
  .copy-text.active button:after {
    display:block;
  }