
<div *ngIf="isGameStarted && !isGamePaused">
    <h5>Timer: {{timeLeft}}</h5>
    <div class="row">
    <div class="mt-4">
        <h4>{{currentQuestion.questionStatement}}</h4>
        <div *ngFor="let choice of currentQuestion.options; let i = index" [attr.data-index]="i">
            <button (click)="onClickOption(i)" type="button" class="btn btn-outline-secondary mt-3">{{choice}}</button>
        </div>
    </div>
    
    </div>
    <button (click)="onClickGenerateQuestion()" class="btn btn-primary mt-4">Next Question</button>
    <button (click)="onClickEndSession()" class="btn btn-danger mt-4">End Quiz</button>
</div>

<div *ngIf="isGamePaused" class="">
    <h5>Current Scores:</h5>
    <table style="max-height:100%; overflow:auto" class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.score}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!isGameStarted">

    <h4>Session ID: {{myUser.sessionId}}</h4>
    <table style="max-height:100%; overflow:auto" class="table mt-4">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.username}}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="onClickStartQuiz()" class="btn btn-success">Start Quiz</button>
</div>