<div *ngIf="isGameStarted && !isGamePaused">
    <div class="progress-bar-container">
        <div class="progress-bar" [ngStyle]="{'width': timerRatioString}"></div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="min-height: 20vh;" *ngIf="!currentQuestion">
        <div class="spinner-grow text-warning" style="z-index:-1;" role="status"></div>
    </div>
    <div class="row" style="background-color: transparent;">

        <div class="mt-4">
            <p>{{questionIndex}}/{{questionNumber}}</p>
            <h4>{{currentQuestion.questionStatement}}</h4>
            <div *ngFor="let choice of currentQuestion.options; let i = index" [attr.data-index]="i">
                <button [disabled]="clicked" (click)="onClickOption(i)" id="{{i}}" type="button" class="btn btn-outline-secondary mt-3 btn-block">{{choice}}</button>
            </div>
        </div>
    
    </div>
    <!--button (click)="onClickGenerateQuestion()" class="btn btn-primary mt-4">Next Question</button-->
     <button (click)="onClickEndSession()" type="submit" class="btn btn-danger btn-login mt-4" *ngIf="!endSessionClicked">End Quiz</button>
        <button class="btn btn-danger btn-login mt-4" type="button" disabled *ngIf="endSessionClicked">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Ending...
        </button>
</div>

<div *ngIf="isGamePaused" class="">
    <!--h2 *ngIf="isAnswerCorrect" class="text-success">Your Answer Is Correct!</h2-->
    <div *ngIf="isAnswerCorrect" class="mt-4 alert alert-success" role="alert">
        Your Answer is Correct!
    </div>
    <div *ngIf="!isAnswerCorrect" class="mt-4 alert alert-danger" role="alert">
        Your Answer is Wrong...
    </div>
    <h5>Current Scores:</h5>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">
                <div class="row header">
                    <div class="cell">
                        Username
                    </div>
                    <div class="cell">
                        Score
                    </div>
                </div>
                <div class="row" *ngFor="let user of users">
                    <div *ngIf="myUser.userId == user.userId" class="cell" style="background-color: #ffda96;" data-title="Username">
                        {{user.username}}
                    </div>
                    <div *ngIf="myUser.userId == user.userId" class="cell" style="background-color: #ffda96;" data-title="Score">
                        {{user.score}}
                    </div>

                    <div *ngIf="myUser.userId != user.userId" class="cell" data-title="Username">
                        {{user.username}}
                    </div>
                    <div *ngIf="myUser.userId != user.userId" class="cell" data-title="Score">
                        {{user.score}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isGameStarted">
    
    <div class="container">
        <div class="label">
            Session ID: 
        </div>
        <div class="copy-text">
            <input type="text" class="text w-100" value="{{myUser.sessionId}}">
            <button class="float-right" (click)="callCopyText()">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>

    <div *ngIf="isHostOnly" class="mt-4 alert alert-danger" role="alert">
        You can't host a session with only one player!
    </div>

    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">
                <div class="row header">
                    <div class="cell">
                        Username
                    </div>
                </div>
                <ng-container *ngFor="let user of users">
                    <div class="row" *ngIf="myUser.userId == user.userId" style="background-color: #ffda96;">
                        <div *ngIf="myUser.userId == user.userId" class="cell" style="background-color: #ffda96;" data-title="Username">
                            {{user.username}}
                        </div>
                    </div>
                    <div  class="row" *ngIf="myUser.userId != user.userId">
                        <div  class="cell" data-title="Username">
                            {{user.username}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    
    <button (click)="onClickStartQuiz()" class="btn button-start text-white" *ngIf="!loaderStartQuiz">Start Quiz</button>
    <button class="btn button-start text-white" type="button" disabled *ngIf="loaderStartQuiz">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>

</div>