<footer style='position:fixed; bottom:0; width:100vw' class="text-center text-white footer">
    <!-- Grid container -->
    <div class="container pt-2">
        <div class="text-center text-dark p-3">
            <hr>
            Prototype version of Mutrivia App.
        </div>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: 
      <a class="text-dark" href="https://mutrivia.netlify.app">Mutrivia</a>
    </div>
    <!-- Copyright -->
  </footer>