<header>
    <nav style="background-color: rgb(156, 91, 255);" class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <div>
                <a (click)="goHome()" style="cursor:pointer" class="navbar-brand">Mutrivia</a>
            </div>

            <ul class="navbar-nav navbar-collapse justify-content-end">
                <!--Burada fonksiyon çağırmamızın sebebi variablea bakınca refreshlenmiyor-->
                <li><a (click)="goHome()" style="cursor:pointer" class="nav-link">Home</a></li>
            </ul>

    </div>
    </nav>
</header>