<header>
    <nav style="background: linear-gradient(rgba(255, 255, 255, 0.193), 30%, rgba(255, 255, 255, 0)) ;" class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            
            <div (click)="goHome()" style="cursor:pointer">
                <img class="navbar-brand img-fluid" src="assets/img/favicon_white.png" alt="logo" style="max-width: 15vh;"/>
            </div>

            <!--ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a (click)="goHome()" style="cursor:pointer" class="nav-link">Home</a></li>
            </ul-->

    </div>
    </nav>
</header>   