<header>
    <nav style="background-color: rgb(81, 45, 168);" class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            
            <div (click)="goHome()" style="cursor:pointer">
                <img class="navbar-brand img-fluid" src="assets/img/favicon_white.png" alt="logo" style="max-width: 10%;"/>
                <a  class="navbar-brand">Mutrivia</a>
            </div>

            <ul class="navbar-nav navbar-collapse justify-content-end">
                <!--Burada fonksiyon çağırmamızın sebebi variablea bakınca refreshlenmiyor-->
                <li><a (click)="goHome()" style="cursor:pointer" class="nav-link">Home</a></li>
            </ul>

    </div>
    </nav>
</header>   