
<div *ngIf="!isGamePaused">
    <div class="progress-bar-container">
        <div class="progress-bar" [ngStyle]="{'width': timerRatioString}"></div>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 20vh;" *ngIf="!currentQuestion">
        <div class="spinner-grow text-warning" role="status"></div>
    </div>
    <div class="row" style="background-color: transparent;">

        <div class="mt-4">
            <h4>{{currentQuestion.questionStatement}}</h4>
            <div *ngFor="let choice of currentQuestion.options; let i = index" [attr.data-index]="i">
                <button [disabled]="clicked" (click)="onClickOption(i)" id="{{i}}" type="button" class="btn btn-outline-secondary mt-3 btn-block">{{choice}}</button>
            </div>
        </div>
    
    </div>
    <!--button (click)="onClickGenerateQuestion()" class="btn btn-primary mt-4">Next Question</button-->
    <button (click)="onClickLeaveGame()" type="submit" class="btn btn-danger btn-login mt-4" *ngIf="!loaderEndQuiz">End Quiz</button>
    <button class="btn btn-danger btn-login mt-4" type="button" disabled *ngIf="loaderEndQuiz">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Ending...
    </button>

</div>

<div *ngIf="isGamePaused" class="">
    <div *ngIf="isAnswerCorrect" class="mt-4 alert alert-success" role="alert">
        Your Answer is Correct!
    </div>
    <div *ngIf="!isAnswerCorrect" class="mt-4 alert alert-danger" role="alert">
        Your Answer is Wrong...
    </div>
    <h5>Your Score:</h5>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">
                <div class="row header">
                    <div class="cell">
                        Username
                    </div>
                    <div class="cell">
                        Score
                    </div>
                </div>
                <div class="row">
                    <div class="cell" data-title="Username">
                        {{myUser.username}}
                    </div>
                    <div class="cell" data-title="Score">
                        {{myUser.score}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>