
<div *ngIf="isGameStarted && !isGamePaused">
    <div class="progress-bar-container">
        <div class="progress-bar" [ngStyle]="{'width': timerRatioString}"></div>
    </div>
    <div class="row" style="background-color: transparent;">
        <div class="mt-4">
            <h4>{{currentQuestion.questionStatement}}</h4>
            <div *ngFor="let choice of currentQuestion.options; let i = index" [attr.data-index]="i">
                <button [disabled]="clicked" (click)="onClickOption(i)" id="{{i}}" type="button" class="btn btn-outline-secondary mt-3 btn-block">{{choice}}</button>
            </div>
        </div>
    </div>
     <button (click)="onClickLeaveSession()" type="submit" class="btn btn-danger btn-login mt-4" *ngIf="!loaderEndQuiz">Leave Session</button>
        <button class="btn btn-danger btn-login mt-4" type="button" disabled *ngIf="loaderEndQuiz">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Ending...
        </button>
</div>

<div *ngIf="isGamePaused">
    <!---h2 *ngIf="isAnswerCorrect" class="text-success">Your Answer Is Correct!</h2--->
    <div *ngIf="isAnswerCorrect" class="mt-4 alert alert-success" role="alert">
        Your Answer is Correct!
    </div>
    <div *ngIf="!isAnswerCorrect" class="mt-4 alert alert-danger" role="alert">
        Your Answer is False...
    </div>
    <h5>Current Scores:</h5>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">
                <div class="row header">
                    <div class="cell">
                        Username
                    </div>
                    <div class="cell">
                        Score
                    </div>
                </div>
                <div class="row" *ngFor="let user of users">
                    <div *ngIf="myUser.userId == user.userId" class="cell" style="background-color: #ffda96;" data-title="Username">
                        {{user.username}}
                    </div>
                    <div *ngIf="myUser.userId == user.userId" class="cell" style="background-color: #ffda96;" data-title="Score">
                        {{user.score}}
                    </div>

                    <div *ngIf="myUser.userId != user.userId" class="cell" data-title="Username">
                        {{user.username}}
                    </div>
                    <div *ngIf="myUser.userId != user.userId" class="cell" data-title="Score">
                        {{user.score}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isGameStarted">

    <div class="container">
        <div class="label">
            Session ID: 
        </div>
        <div class="copy-text">
            <input type="text" class="text w-100" value="{{myUser.sessionId}}">
            <button class="float-right" (click)="callCopyText()">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>
    <!--h5 style="color: rgb(0, 139, 204);" class="mt-4">Waiting for host to start the game.</h5--->
    <div class="mt-4 alert alert-secondary" role="alert">
        Waiting for host to start the game.
    </div>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">
                <div class="row header">
                    <div class="cell">
                        Username
                    </div>
                </div>
                <ng-container *ngFor="let user of users">
                    <div class="row" *ngIf="myUser.userId == user.userId" style="background-color: #ffda96;">
                        <div *ngIf="myUser.userId == user.userId" class="cell" style="background-color: #ffda96;" data-title="Username">
                            {{user.username}}
                        </div>
                    </div>
                    <div  class="row" *ngIf="myUser.userId != user.userId">
                        <div  class="cell" data-title="Username">
                            {{user.username}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <button (click)="onClickLeaveSession()" class="btn button-start text-white" *ngIf="!loaderEndQuiz">Leave Session</button>
    <button class="btn button-start text-white" type="button" disabled *ngIf="loaderEndQuiz">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</div>