<link rel="stylesheet" href="menu.component.css">

<button [disabled]="loader" (click)="onClickHostSession()" type="button" style="height: 15vh;" class="btn btn-host btn-lg col-12 mt-3">Host a new Session</button>
<button [disabled]="loader" (click)="onClickJoinSession()" type="button" style="height: 15vh;" class="btn btn-join btn-lg col-12 mt-3">Join a Session</button>
<button [disabled]="loader" (click)="onClickSoloSession()" type="button" style="height: 15vh;" class="btn btn-solo btn-lg col-12 mt-3">Play Solo</button>

<div *ngIf="joinSessionClicked">
    <form (ngSubmit)="enterSessionId()">
        <div class="d-grid gap-2 col-8 mx-auto mt-4">
            <div *ngIf="!sessionExists" class="mt-4 alert alert-danger" role="alert">
                Please enter a valid Session ID.
            </div>

            <input type="text" class="form-control text-center" placeholder="Enter Session ID" name="sessionId" [(ngModel)]="sessionId" required>

            <button type="submit" class="btn btn-submit" *ngIf="!loader">Join</button>
            <button class="btn btn-submit" type="button" disabled *ngIf="loader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </form>
</div>

<div *ngIf="hostSessionClicked">
    <form (ngSubmit)="enterMuseumIdHost()">
        <div class="d-grid gap-2 col-8 mx-auto mt-4">
            <div *ngIf="!idExists" class="mt-4 alert alert-danger" role="alert">
                Please enter a valid Museum ID.
            </div>

            <input type="text" class="form-control text-center" placeholder="Enter Museum ID" name="museumId" [(ngModel)]="museumId" required>

            <button type="submit" class="btn btn-submit" *ngIf="!loader">Host Session</button>
            <button class="btn btn-submit" type="button" disabled *ngIf="loader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </form>
</div>
<div *ngIf="soloSessionClicked">
    <form (ngSubmit)="enterMuseumIdSolo()">
        <div class="d-grid gap-2 col-8 mx-auto mt-4">
            <div *ngIf="!idExists" class="mt-4 alert alert-danger" role="alert">
                Please enter a valid Museum ID.
            </div>
            
            <input type="text" class="form-control text-center" placeholder="Enter Museum ID" name="museumId" [(ngModel)]="museumId" required>

            <button type="submit" class="btn btn-submit" *ngIf="!loader">Start</button>
            <button class="btn btn-submit" type="button" disabled *ngIf="loader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </form>
</div>
